body{
    background-color: #E0E0E0;
}

h1{
    text-align: center;
}
h2{
    font-size: 26px;
}

.row{
    background-color: #FFFFFF;
    width: 480px;
    margin: 30px auto;
    padding: 20px;
    box-shadow : 2px 2px 10px rgba(0,0,0,0.5);
}
.row-formateurs{
    width: 100%;
    margin-top: 70px;

}
.row input{
    width: 240px;
}
.row input.small{
    width: 100px;
}
.row input.long{
    width: 360px;
}

#btn-deco{
    position: absolute;
    top: 10px;
    right: 20px;
}
.ajout{
    position: absolute;
    top: 10px;
    right: 160px;
}
.formateurs{
    display: flex;
    padding: 20px;
    flex-wrap : wrap;
}
.formateur{
    background-color: #FFFFFF;
    margin: 18px;
    padding: 20px;
    width: 310px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}